:root{
    --light-purple:#8E7BEF;
    --dark-purple: #5D3BEF;
    --light-gray:#F9F6FF;
    --almost-black:#222222;
    --brownie:#423F40;
    --white:#FFFFFF;
    --light-pink:#F9F5F2;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: var(--almost-black);
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--light-pink);
    display: flex;
    flex-direction: column;
}

nav{
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5rem 1.25rem;
    height: 60px;
    width: 100%;
    background-color: var(--light-pink);
    border-bottom: 1px solid var(--light-purple);
    z-index: 3;
}

input#burger-menu{
    visibility: hidden;
}

img#burger-size{
    height: 25px;
    width: 25px;
}

input#burger-menu ~ ul{
    background-color: var(--light-gray);
    color: var(--almost-black);
    font-size: 16px;
    font-weight: 400;
    font-stretch: condensed;
    list-style: none;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 3;
    height: calc( 100vh - 60px );
    top: 60px;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 3.5vw;
    padding: 2rem 1rem;
}

/*input#burger-menu ~ ul > li{
    border-bottom: 2px solid transparent;
}*/

input#burger-menu:checked ~ ul{
    display: flex;
}

a:link{
    text-decoration: none;
}

nav a{
    border-bottom: 1px solid var(--dark-purple);
}

input#burger-menu ~ ul li#home{
    font-weight: 600;
    color: var(--dark-purple);
}

header{
    padding-top: calc(5vh + 60px);
    display: flex;
    flex-direction: column;
}

header > .header-description{
    position: relative;
    align-items: flex-end;
    padding-left: 5vw;
}

.header-description > h1{
    position: relative;
    font-size: 50px;
    font-weight: 600;
    font-stretch: ultra-condensed;
}

.header-description > h2{
    color: var(--brownie);
    position: relative;
    top: 3vh;
    padding-right: 5vw;
    font-size: 20px;
    font-weight: 400;
    z-index: 2;
    font-stretch: ultra-condensed;
}

header > .header-cont{
    position: relative;
}

header img.forma{
    position: absolute;
    width: 80vw;
    padding-left: 10vw;
}

header img.foto{
    position: relative;
    width: 70vw;
    left: 15vw;
    top: 10vh;
}

header > .header-icons{
    display: flex;
    gap: 10vw;
    position: relative;
    justify-content: space-evenly;
    padding: 5vh 30vw;
}

.header-icons a{
    display: flex;
    position: relative;
    border: 1px solid var(--white);
    min-width: 50px;
    min-height: 50px;
    padding: 10px;
    color: var(--white);
    background-color: var(--light-purple);
    border-radius: 30px;
    justify-content: center;
    align-items: center;
}

header > .header-contacts-father{
    position: relative;
    display: flex;
    align-self: center;
}

a.contact-link{
    position: relative;
    display: flex;
    justify-content: center;
    align-self: center;
}

.header-contacts{
    position: relative;
    display: flex;
    background-color: var(--dark-purple);
    justify-content: center;
    align-self: center;
    top: 0;
    padding: 5px 22vw;
    gap: 2rem;
}

.header-contacts h3{
    position: relative;
    color: var(--white);
    align-self: center;
    font-size: 16px;
    font-weight: 400;
    font-stretch: ultra-condensed;

}

h4{
    position: relative;
    color: var(--almost-black);
    align-self: center;
    font-size: 24px;
    font-weight: 600;
    font-stretch: ultra-condensed;
}

p{
    position: relative;
    color: var(--brownie);
    align-self: center;
    font-size: 16px;
    font-weight: 400;
    font-stretch: ultra-condensed;
    text-align: center;
    line-height: 30px;
}

h5{
    color: var(--almost-black);
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    font-stretch: ultra-condensed;
    padding-left: 15px;
}

h6{
    color: var(--brownie);
    align-self: center;
    font-size: 12px;
    font-weight: 400;
    font-stretch: ultra-condensed;
    padding-left: 10px;
}

div#about-me{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 15vh 5vw;
    gap: 5vh;
}

div#abilities{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0 5vw;
    gap: 5vh;
}

#abilities > div.abilities-charts{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3vw;
    max-width: 100%;
    overflow-x: scroll;
}

.abilities-charts > div{
    min-width: 200px;
    max-width: 250px;
    height: 250px;
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
}

.abilities-charts > div > div{
    display: flex;
    gap: 2vw;
    padding-bottom: 3vh;
    padding-left: 10px;
}

.abilities-charts > div img{
    object-fit: contain;
    width: 18px;
    background-color: var(--light-gray);
}

div#experience{
    display: flex;
    flex-direction: column;
    padding: 0 5vw;
    gap: 5vh;
    justify-content: space-evenly;
    align-items: center;
}

div#experience > div.exp-grid{
    display: grid;
    gap: 30px;
    grid-template-columns: 80px 110px 70px;
    align-items: center;
}

div#experience img{
    object-fit: contain;
    width: 80px;
}

div.experience-grid > div.exp-texts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.exp-grid h5{
    padding: 0;
}

div.exp-texts > h5, div.exp-texts > h6{
    padding: 0;
    justify-content: space-around;
}

div.exp-texts > span{
    color: var(--brownie);
    font-size: 12px;
    font-weight: 400;
    font-stretch: ultra-condensed;
}

div#portfolio{
    display: flex;
    flex-direction: column;
    padding: 15vh 5vw;
    gap: 5vh;
    justify-content: space-evenly;
    align-items: center;
}

div#portfolio > div.portfolio-imgs{
    display: grid;
    padding: 10px 5vw;
    grid-template-columns: 45vw 45vw;
    align-items: center;
    gap: 10px;
    justify-content: space-evenly;
}

div#portfolio > div.portfolio-imgs > img{
    object-fit: contain;
    min-width: 100%;
    max-width: 100%;
}

img#big1, img#big2 {
    grid-column: 1/-1;
}

div#contact{
    display: flex;
    flex-direction: column;
    padding: 0vh 5vw 7vh 5vw;
    gap: 5vh;
    justify-content: space-around;
    align-items: center;
}

div#contact > div.contact-big{
    display: flex;
    flex-direction: row;
    gap: 5vh;
    justify-content: space-around;
    align-items: center;
}

div.contact-small{
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: space-evenly;
    align-items: center;
}

div.contact-small > h5, div.contact-small > h6{
    padding: 0;
}

div.contact-small > h5{
    padding-top: 20px;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 30px;
}

footer > h3 {
    color: var(--light-purple);
    font-size: 20px;
    font-weight: 400;
    font-stretch: ultra-condensed;
}

@media screen and ( min-width:768px ) {
    label{
        display: none;
    }

    input#burger-menu ~ ul{
        position: static;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        height: auto;
        justify-content: flex-end;
        font-size: 18px;
        font-weight: 400;
        font-stretch: ultra-condensed;
    }

    input#burger-menu ~ ul > a:hover{
        cursor: pointer;
        border-bottom: 2px solid var(--dark-purple);
    }

    nav a{
        border-bottom: 0;
    }

    header{
        padding-top: calc(5vh + 60px);
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: 
        "header-cont header-description"
        "header-cont header-icons"
        "header-cont header-contacts-father";
    }

    header > .header-description{
        grid-area: header-description;
        position: relative;
        align-items: flex-end;
        padding-left: 0;
    }

    .header-description > h1{
        position: relative;
        font-size: 100px;
        padding-right: 5vw;
        line-height: 16vh;
        padding-top: 10vh;
    }
    
    .header-description > h2{
        font-size: 25px;
        font-weight: 400;
        padding-top: 5vh;
    }

    header > .header-icons{
        grid-area: header-icons;
        display: flex;
        gap: 5vw;
        position: relative;
        justify-content: left;
        padding: 5vh 0 0 0;
    }

    .header-icons a{
        display: flex;
        position: relative;
        border: 1px solid var(--white);
        width: 65px;
        height: 65px;
        padding: 10px;
        color: var(--white);
        background-color: var(--light-purple);
        border-radius: 50px;
        justify-content: center;
        align-items: center;
    }
    
    .header-icons img{
        width: 35px;
    }

    header > .header-cont{
        grid-area: header-cont;
    }

    header img.forma{
        position: absolute;
        width: 40vw;
        padding-left: 5vw;
    }
    
    header img.foto{
        position: relative;
        width: 100%;
        left: 0;
        top: 0;
        padding: 10vh 0 0 10vw;
        justify-self: right;
    }

    header > .header-contacts-father{
        grid-area: header-contacts-father;
        display: flex;
        width: 60%;
    }

    a.contact-link{
        display: flex;
        width: 100%;
    }

    .header-contacts{
        position: relative;
        display: flex;
        background-color: var(--dark-purple);
        top: 0;
        padding: 10px 0;
        width: 100%;
        gap: 2rem;
    }

    h4{
        padding-top: 10vh;
        font-size: 50px;
    }
    
    p{
        font-size: 25px;
        font-weight: 400;
        font-stretch: ultra-condensed;
        text-align: center;
        line-height: 6vh;
        padding-top: 3vh;

    }

    h5{
        color: var(--almost-black);
        align-self: center;
        text-align: left;
        font-size: 18px;
        font-weight: 600;
        font-stretch: ultra-condensed;
        padding-left: 15px;
    }
    
    h6{
        color: var(--brownie);
        align-self: center;
        font-size: 14px;
        font-weight: 400;
        font-stretch: ultra-condensed;
        padding-left: 10px;
    }

    #abilities > div.abilities-charts{
        justify-content: space-evenly;
        gap: 10vw;
        overflow-x: hidden;
        padding-top: 3vh;
    }

    div#portfolio > div.portfolio-imgs{
        grid-template-columns: repeat( 4, 1fr );
        gap: 15px;
    }

    img#big1 {
        grid-column: 1/3;
    }

    img#big2 {
        grid-column: 2/4;
    }

    div#contact{
        gap: 10vh;
    }
    
    div#contact > div.contact-big{
        gap: 10vh;
    }

    div.contact-small > img{
        object-fit: contain;
        width: 60px;
    }

    footer{
        padding-top: 3vh;
        padding-bottom: 50px;
    }
    
    footer > h3 {
        font-size: 24px;
    }
    
}

@media screen and ( min-width:992px ) {
    div#experience > div.exp-grid{
        display: grid;
        gap: 30px;
        grid-template-columns: 80px 110px 70px 80px 110px 70px;
        align-items: center;
    }    

    div#contact > div.contact-big{
        gap: 15vh;
    }
}

@media screen and ( min-width:1200px ) {
    div#experience > div.exp-grid{
        display: grid;
        gap: 30px;
        grid-template-columns: 80px 110px 90px 80px 110px 90px 80px 110px 90px;
        align-items: center;
    }
    
    div#portfolio > div.portfolio-imgs{
        grid-template-columns: repeat( 6, 1fr );
        gap: 20px;
    }

    img#big1 {
        grid-column: 1/3;
    }

    img#big2 {
        grid-column: 5/-1;
    }

    div.contact-small > img{
        width: 80px;
    }

    footer > h3 {
        font-size: 28px;
    }
}