:root{
    --light-purple:#8E7BEF;
    --dark-purple: #5D3BEF;
    --light-gray:#F9F6FF;
    --almost-black:#222222;
    --brownie:#423F40;
    --white:#FFFFFF;
    --light-pink:#F9F5F2;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: var(--almost-black);
}

body{
    background-color: var(--light-pink);
    display: flex;
    flex-direction: column;
    /*gap: 5vh;*/
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.25rem;
    height: 60px;
}

input#burger-menu{
    visibility: hidden;
}

img#burger-size{
    height: 25px;
    width: 25px;
}

input#burger-menu ~ ul{
    background-color: var(--light-pink);
    color: var(--almost-black);
    font-size: 16px;
    font-weight: 400;
    font-stretch: condensed;
    list-style: none;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 2;
    height: calc( 100vh - 60px );
    top: 60px;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 3.5vw;
    padding: 2rem 1rem;
}

/*input#burger-menu ~ ul > li{
    border-bottom: 2px solid transparent;
}*/

input#burger-menu:checked ~ ul{
    display: flex;
}

a:link{
    text-decoration: none;
}

header{
    display: flex;
    flex-direction: column;
}

header > .header-description{
    position: relative;
    align-items: flex-end;
    padding-left: 5vw;
}

.header-description > h1{
    position: relative;
    font-size: 50px;
    font-weight: 600;
    font-stretch: ultra-condensed;
}

.header-description > h2{
    color: var(--brownie);
    position: relative;
    top: 3vh;
    padding-right: 5vw;
    font-size: 20px;
    font-weight: 400;
    z-index: 2;
    font-stretch: ultra-condensed;
}

header > .header-cont{
    position: relative;
}

header img.forma{
    position: absolute;
    width: 80vw;
    padding-left: 10vw;
}

header img.foto{
    position: relative;
    width: 70vw;
    left: 15vw;
    top: 10vh;
}

header > .header-icons{
    display: flex;
    gap: 10vw;
    position: relative;
    justify-content: space-evenly;
    padding: 5vh 30vw;
}

.header-icons img{
    position: relative;
    border: 1px solid var(--white);
    padding: 10px;
    color: var(--white);
    background-color: var(--light-purple);
    border-radius: 30px;
}

header > .header-contacts-father{
    position: relative;
    display: flex;
    align-self: center;
}

a.contact-link{
    position: relative;
    display: flex;
    justify-content: center;
    align-self: center;
}

.header-contacts{
    position: relative;
    display: flex;
    background-color: var(--dark-purple);
    justify-content: center;
    align-self: center;
    top: 0;
    padding: 5px 22vw;
    gap: 2rem;
}

.header-contacts h3{
    position: relative;
    color: var(--white);
    align-self: center;
    font-size: 16px;
    font-weight: 400;
    font-stretch: ultra-condensed;

}

h4{
    position: relative;
    color: var(--almost-black);
    align-self: center;
    font-size: 24px;
    font-weight: 600;
    font-stretch: ultra-condensed;
}

p{
    position: relative;
    color: var(--brownie);
    align-self: center;
    font-size: 16px;
    font-weight: 400;
    font-stretch: ultra-condensed;
    text-align: center;
    line-height: 5vh;
}

div#about-me{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 15vh 5vw;
    gap: 5vh;
}

div.abilities{
    grid-area: abilities;
}

div.experience{
    grid-area: experience;
}

div.portfolio{
    grid-area: portfolio;
}

div.contact{
    grid-area: contact;
}

footer{
    grid-area: footer;
}

@media screen and ( min-width:768px ) {
    label{
        display: none;
    }

    input#burger-menu ~ ul{
        position: static;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        height: auto;
        justify-content: flex-end; 
    }

    input#burger-menu ~ ul > a:hover{
        cursor: pointer;
        border-bottom: 2px solid var(--dark-purple);
    }

    header{
        padding-top: 5vh;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: 
        "header-cont header-description"
        "header-cont header-icons"
        "header-cont header-contacts-father";
    }

    header > .header-description{
        grid-area: header-description;
        position: relative;
        align-items: flex-end;
        padding-left: 0;
    }

    .header-description > h1{
        position: relative;
        font-size: 100px;
        padding-right: 5vw;
        line-height: 16vh;
        padding-top: 10vh;
    }
    
    .header-description > h2{
        font-size: 25px;
        font-weight: 400;
    }

    header > .header-icons{
        grid-area: header-icons;
        display: flex;
        gap: 5vw;
        position: relative;
        justify-content: left;
        padding: 5vh 0 0 0;
    }

    .header-icons img{
        position: relative;
        border: 1px solid var(--white);
        padding: 20px;
        color: var(--white);
        background-color: var(--light-purple);
        border-radius: 50px;
    }

    header > .header-cont{
        grid-area: header-cont;
    }

    header img.forma{
        position: absolute;
        width: 40vw;
        padding-left: 5vw;
    }
    
    header img.foto{
        position: relative;
        width: 100%;
        left: 0;
        top: 0;
        padding: 10vh 0 0 10vw;
        justify-self: right;
    }

    header > .header-contacts-father{
        grid-area: header-contacts-father;
        width: 90%;
    }

    a.contact-link{
        display: flex;
        justify-content: baseline;
        align-items: flex-end;
        width: 100%;
    }

    .header-contacts{
        position: relative;
        display: flex;
        background-color: var(--dark-purple);
        justify-content: center;
        align-self: center;
        top: 0;
        padding: 10px 0;
        width: 100%;
        gap: 2rem;
    }
}