:root{
    --light-purple:#8E7BEF;
    --dark-purple: #5D3BEF;
    --light-gray:#F9F6FF;
    --almost-black:#222222;
    --brownie:#423F40;
    --white:#FFFFFF;
    --light-pink:#F9F5F2;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: var(--almost-black);
}

body{
    background-color: var(--light-pink);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.25rem;
    height: 60px;
}

input#burger-menu{
    visibility: hidden;
}

img#burger-size{
    height: 50px;
    width: 50px;
}

input#burger-menu ~ ul{
    background-color: var(--light-pink);
    color: var(--almost-black);
    font-size: 16px;
    font-weight: 400;
    font-stretch: condensed;
    list-style: none;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 2;
    height: calc( 100vh - 60px );
    top: 60px;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 3.5vw;
    padding: 2rem 1rem;
}

/*input#burger-menu ~ ul > li{
    border-bottom: 2px solid transparent;
}*/

input#burger-menu:checked ~ ul{
    display: flex;
}

header{
    display: flex;
    flex-direction: column;
}

header > .header-description{
    position: relative;
    align-items: flex-end;
    padding-left: 5vw;
}

.header-description > h1{
    position: relative;
    font-size: 50px;
    font-weight: 600;
    font-stretch: condensed;
}

.header-description > h2{
    position: relative;
    top: 5vh;
    font-size: 20px;
    font-weight: 400;
    font-stretch: condensed;
}

header > .header-cont{
    position: relative;
}

header img.foto{
    position: relative;
    width: 70vw;
    left: 15vw;
    top: 30px;
}

div.about-me{
    grid-area: about-me;
}

div.abilities{
    grid-area: abilities;
}

div.experience{
    grid-area: experience;
}

div.portfolio{
    grid-area: portfolio;
}

div.contact{
    grid-area: contact;
}

footer{
    grid-area: footer;
}

@media screen and ( min-width:768px ) {
    label{
        display: none;
    }

    input#burger-menu ~ ul{
        position: static;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        height: auto;
        justify-content: flex-end; 
    }

    input#burger-menu ~ ul > li:hover{
        cursor: pointer;
        border-bottom: 2px solid var(--dark-purple);
    }
}